<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    <ol class="breadcrumbs">  
    	<li title="Startseite">     
        <a href="/hc">Home</a>
    	</li> 
		</ol>
  </nav>

  <h2>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h2>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
